
    <app-topnav></app-topnav>
 
  <main id="main" class="main">
  
      <section class="section">
        <div class="row">
      
         <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
               
                <!-- Table with hoverable rows -->
               
                <!-- End Table with hoverable rows -->
                <app-emp-history [EmpID]=1></app-emp-history>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
    </main><!-- End #main -->
  
