
    <div class="modal-body">
        <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                
  
                <!-- Vertical Form -->
                 <form class="row">
                   <div class="col-12">
                    <label for="inputNanme4" class="form-label">Transfer To</label>
                    <select class="form-select">
                       <option value=X selected >Please Select</option>
                        <option value=E>AJES</option>   
                        <option value=S>Sub Contactor</option>    
                    </select>
                  </div>  


                  <div class="col-12">
                    <label for="inputNanme4" class="form-label">Remarks</label>
                    <input type="text" class="form-control" id="EmpCode"  name="EmpCode"  >
                  </div>
                
                </form>
  
              </div>
            </div>
  
         
         
  
          </div>
          
  
  
  </div>
