<!-- <div *ngIf="trainingData.length">
  <div *ngFor="let item of trainingData" class="card">
    <h3>{{ item.jobTitle }} </h3>
   
    <strong>Training:</strong> {{ item.training.name }}
  
    <p><strong>Mandatory:</strong> {{ item.isMandatory ? 'Yes' : 'No' }}</p>
    <p><strong>Duration:</strong> {{ item.training.duration }} hours</p>
    <p><strong>Type:</strong> {{ item.training.type }}</p>
    <hr />
  </div>
</div> -->

<!-- <div *ngIf="!trainingData.length">
  <p>No training matrix data found.</p>
</div> -->


<app-topnav></app-topnav>
<main id="main" class="main">
  
    <div class="pagetitle">
      <h1>Training Matrix <a (click)="openModel(Addnewmatrix)"  class="btn btn-primary btn-sm right-btn">Add New</a></h1>
      </div>
<section class="section">
    
   
    <div class="row">
  
     <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
           
            <!-- Table with hoverable rows -->
            <table class="table table-hover table-bordered ">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Job Category</th>
                    <th>Position</th>
                    <th>Training</th>
                    <th>Mandatory</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of trainingData;let i=index" >
                        <td>{{i+1}}</td>
                        <td>{{item.familyName}}</td>
                        <td>{{item.jobTitle}}</td>
                        <td>{{item.training.name}}</td> 
                        <td>{{ item.isMandatory ? 'Yes' : 'No' }} || <button type="button" (click)="UpdateMandatory(item.matrixId,item.isMandatory)">Change</button> </td>
                         
                        <ng-template [ngIf]="item.training.type=='I'">
                             <td ><span class="badge rounded-pill bg-primary" style="pointer-events: none">Internal </span></td>
                        </ng-template>
                             <ng-template [ngIf]="item.training.type=='E'">
                             <td ><span class="badge rounded-pill bg-info" style="pointer-events: none">External </span></td>
                        </ng-template>    
                       
                          
                      </tr>
                </tbody>
              </table>
            <!-- End Table with hoverable rows -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <ng-template #Addnewmatrix>
    <div class="modal-header">
       <h4 class="modal-title">Add New</h4>
       <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
       </button>
      
    </div>
    <div class="modal-body">
        <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                
  
                <!-- Vertical Form -->
                  <form  class="row" #itemForm="ngForm" novalidate (ngSubmit)="SaveMatrix(itemForm)">
                   <div class="col-12">
                    <label for="inputAddress" class="form-label">Job Category</label>
                   <select class="form-select" id="JobCategory" name="JobCategory"  [(ngModel)]="matrixModel.FamilyCode" (change)="GetPostions()" required #family="ngModel">
                      <option *ngFor="let s of Category" [value]="s.familyCode">{{s.jobFamily}}</option>
                   </select>  
                   
                   <div *ngIf="family.invalid && family.touched"  class="alert alert-danger">
                      <diV *ngIf="family.errors?.['required']">
                       Job Category is required.
                      </diV>

                    </div>
                
                   </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Position</label>
                   <select class="form-select" id="postions" name="postions" [(ngModel)]="matrixModel.JobCode" required #position="ngModel" >
                      <option *ngFor="let s of Postions" [value]="s.code">{{s.name}}</option>
                  </select>
                  
                    <div *ngIf="position.invalid && position.touched"  class="alert alert-danger">
                      <diV *ngIf="position.errors?.['required']">
                       Position is required.
                      </diV>

                    </div>    
                  </div>
                  <div class="col-12">
                    <label for="inputNanme4" class="form-label">Training Type</label>
                    <select class="form-select" id="trianinType" name="trianinType" [(ngModel)]="matrixModel.trainingType" required #trainingType="ngModel"  >
                       <option value=X selected >Please Select</option>
                        <option value=I>Internal</option>   
                        <option value=E>External</option>    
                    </select>

                       <div *ngIf="trainingType.invalid && trainingType.touched"  class="alert alert-danger">
                      <diV *ngIf="trainingType.errors?.['required']">
                       TrainingType is required.
                      </diV>

                    </div>   
                  </div> 
                  
                  

<!-- 
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Trainings</label>
                     <select class="form-select" id="trianins" name="trianins">
                         <option *ngFor="let s of trainings" [value]="s.id">{{s.name}}</option>
                     </select>
                </div> -->

                <!-- <div class="col-6">
                    <label for="inputNanme4" class="form-label">Mandatory</label>
                    <select class="form-select">
                       <option value=X selected >Please Select</option>
                        <option value=Y>Yes</option>   
                        <option value=N>No</option>    
                    </select>
                  </div> -->
                
                   <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid">Submit</button>
                     <button type="button" class="btn btn-danger"  (click)="closeModal()" >Close</button>
                  </div>
  
                </form>
  
              </div>
            </div>
  
         
         
  
          </div>
          
  
  
  </div>
  
  <!-- Modal footer -->
 
  </ng-template>
  </main>   