  <section class="section">
    
    <div class="pagetitle">
      <h1>Training Not Assigned</h1>
    </div><!-- End Page Title -->
    <div class="row">
  
     <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
           
            <!-- Table with hoverable rows -->
            <table class="table table-hover table-bordered" id="table-data">
              <thead>
                <tr>
                  <th>S.No</th>  
                  <th>Training</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let e of Data;let i=index" >
                  <td>{{i+1}}</td>
                  <td>{{e.name}}</td>
                  <ng-template [ngIf]="e.type=='I'">
                             <td ><span class="badge rounded-pill bg-primary" style="pointer-events: none">Internal </span></td>
                        </ng-template>
                             <ng-template [ngIf]="e.type=='E'">
                             <td ><span class="badge rounded-pill bg-info" style="pointer-events: none">External </span></td>
                        </ng-template>  
                </tr>
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->
          </div>
        </div>
      </div>
    </div>