

<div class="row">

         <div class="col-lg-12" >
                <div class="row" >

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-3" >
 
                    <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">Card with titles, buttons, and links</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text"><a class="btn btn-primary" (click)="hello()">Assign</a></p>
                                
                                </div>
                            </div><!-- End Card with titles, buttons, and links -->

            </div>
            <div class="col-xxl-4 col-md-3" >
   
                <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Card with titles, buttons, and links</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text"><a href="#" class="btn btn-primary">Button</a></p>
                            
                            </div>
                        </div><!-- End Card with titles, buttons, and links -->
                 
            </div>                
           
            <div class="col-xxl-4 col-md-3" >
 
                <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Card with titles, buttons, and links</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text"><a href="#" class="btn btn-primary">Button</a></p>
                            
                            </div>
                        </div><!-- End Card with titles, buttons, and links -->     
            </div>

            <div class="col-xxl-4 col-md-3" >
 
                <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Card with titles, buttons, and links</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text"><a href="#" class="btn btn-primary">Button</a></p>
                            
                            </div>
                        </div><!-- End Card with titles, buttons, and links -->     
            </div>
            </div>
    </div>
    
</div>
   