
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                 
                  <span class="d-none d-lg-block">HSE Management System</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center large">Enter your username & password to login</p>
                  </div>

                  <form (ngSubmit)="onSubmitlogin(loginform)" #loginform="ngForm" class="row g-3 needs-validation" novalidate>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                     
                        <input type="text" 
                         name="username"
                         [(ngModel)]="LoginModel.UserName"
                         class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" 
                      name="password"
                      [(ngModel)]="LoginModel.Password"
                      class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>


                     <div class="col-12">
                    <label for="projectcode" class="form-label">Project</label>
                   <select class="form-select" id="projectCode" name="projectCode"  [(ngModel)]="LoginModel.ProjectCode"  required >
                      <option *ngFor="let s of Projects" [value]="s.code">{{s.name}}</option>

                  </select> 
                  </div>

                  
                    <div class="col-12">
                        <button  type="submit" [disabled]="loginform.invalid" class="btn btn-primary w-10" type="submit">Login</button>
                      
                    </div>
                  
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>

