    <app-topnav></app-topnav>
<main id="main" class="main">
  
    <div class="pagetitle">
      <h1>Employees  <a (click)="openModel(Addnewemployee)"  class="btn btn-primary btn-sm right-btn">Add New</a></h1>
      </div><!-- End Page Title -->
<section class="section">
    
   
    <div class="row">
  
     <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
           
            <!-- Table with hoverable rows -->
            <table class="table table-hover table-bordered ">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Emp No</th>
                    <th>Emirates ID</th>
                    <th>Name</th>
                    <th>Job Category</th>
                    <th>Designation</th>
                    <th>Project</th>
                    <th>Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of Employees;let i=index" >
                        <td>{{i+1}}</td>
                          <td>{{e.empCode}}</td>
                          <td>{{e.eid}}</td> 
                          <td>{{e.empName}}</td>
                          <td>{{e.familyName}}</td>
                          <td>{{e.jobTitle}}</td>
                          <td>{{e.projectName}}</td>
                           <ng-template [ngIf]="e.empType=='A'" >
                               <td><span class="badge rounded-pill bg-primary" style="pointer-events: none">AJES</span></td>
                           </ng-template>   

                            <ng-template [ngIf]="e.empType=='S'" >
                               <td><span class="badge rounded-pill bg-secondary" style="pointer-events: none">Sub Contractor</span></td>
                           </ng-template>   
                           <td>
                            <a [routerLink]="['/EditFile/']"  class="btn btn-success">Edit</a>
                          </td> 
                      </tr>
                </tbody>
              </table>
            <!-- End Table with hoverable rows -->
          </div>
        </div>
      </div>
    </div>
  </section>

  
<ng-template #Addnewemployee>
    <div class="modal-header">
       <h4 class="modal-title">Add New Employee</h4>
       <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
       
      
       </button>
      
    </div>
    <div class="modal-body">
        <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                
  
                <!-- Vertical Form -->
                 <form  class="row" #itemForm="ngForm" novalidate (ngSubmit)="SaveEmployee(itemForm)">
                   <div class="col-12">
                    <label for="inputNanme4" class="form-label">Select Employee Type</label>
                    <select class="form-select" (change)="getEmpType()"  name="emptype" id="emptype" [(ngModel)]="EmployeeModel.empType" required >
                       <option  value=X selected >Please Select</option>
                        <option value=A>AJES</option>   
                        <option value=S>Sub Contactor</option>    
                    </select>
                    
                  </div>  

                  <div class="col-12">
                    <label for="inputNanme4" class="form-label">Emp No</label>
                  </div>
                   <div class="col-6"> 
                    <input type="text" class="form-control" id="EmpCode"  name="EmpCode" [disabled]="IsEmpCodeTextDisabled" [(ngModel)]="EmpCode"  >
                   </div>
                   <div class="col-6">
                    <button type="button" class="btn btn-success" (click)="GetAJESEmployee()" [disabled]="IsSearchButtonDisabled" >Get Employee</button>
                   </div>
                    <div class="col-12">
                    <label for="inputNanme4" class="form-label">Emirates ID</label>
                    <input type="text" class="form-control" id="EID"  name="EID" [(ngModel)]="EmployeeModel.eid" 
                    [required]="EmployeeModel.empType=='S'"
                    >


                  </div>
                  <div class="col-12"> 
                    <label for="inputEmail4" class="form-label">Emp Name</label>
                    <input type="text" class="form-control" id="EmpName" required  name="EmpName" #name="ngModel"  [(ngModel)]="EmployeeModel.empName" >
                     <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="alert alert-danger">
                      <diV *ngIf="name.errors?.['required']">
                        Employeee Name is required.
                      </diV>

                    </div>
                  </div>

                   <div class="col-12">
                    <label for="inputAddress" class="form-label">Job Category</label>
                   <select class="form-select" id="familyCode" name="familyCode"  [(ngModel)]="EmployeeModel.familyCode" (change)="GetPostions()" required #family="ngModel">
                      <option *ngFor="let s of Category" [value]="s.familyCode">{{s.jobFamily}}</option>

                  </select> 
                  
                       <div *ngIf="family.invalid && family.touched"  class="alert alert-danger">
                      <diV *ngIf="family.errors?.['required']">
                       Job Category is required.
                      </diV>

                    </div>
                
                  </div>
                  
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Position</label>
                   <select class="form-select" id="postions" name="postions"  [(ngModel)]="EmployeeModel.jobCode" required #position="ngModel">
                      <option *ngFor="let s of Postions" [value]="s.code">{{s.name}}</option>

                  </select>    

                    <div *ngIf="position.invalid && position.touched"  class="alert alert-danger">
                      <diV *ngIf="position.errors?.['required']">
                       Position is required.
                      </diV>

                    </div>
                  </div>
                  <div class="col-12">
                    <label for="inputPassword4" class="form-label">Project</label>
                    
                  <select class="form-select" id="project" name="project" [(ngModel)]="EmployeeModel.projectCode"  disabled>
                    <option  value=X selected >dsadadadt</option>
                    <option *ngFor="let s of Projects" [value]="s.code">{{s.name}}</option>

                  </select>    
                  </div>
                   <div class="modal-footer">
                     <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid">Submit</button>
                     <button type="button" class="btn btn-danger"  (click)="closeModal()" >Close</button>
                   </div>
  
                </form>
  
              </div>
            </div>
  
         
         
  
          </div>
          
  
  
  </div>
  
  <!-- Modal footer -->
 
  </ng-template>



</main>